{% extends "base.html" %}

{% block content %}
<div class="large-9 columns" role="content">
<h2>About</h2>
<p>Photo Planet is a web application that aggregates photos from social media (Twitter, Instagram and others). An example of such application may be:</p>

<ul>
<li>Photos taken in some city or region (Donetsk, Kyiv, Crimea etc.)</li>
<li>Photos that players and fans of your favorite sport team take (Shakhtar, Donbass HC, Barcelona etc.)</li>
</ul></p>
<p>Please, write <a href="{% url 'feedback' %}">Feedback</a></p>
</div>
{% endblock content %}
